@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-style: roboto;
}

#welcome {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 350px 1fr;
      grid-template-columns: 350px 1fr;
  width: 100%;
  height: 100vh;
}

#welcome .welcome-menu {
  background: white;
  width: 350px;
  padding: 50px 30px;
  position: relative;
}

#welcome .welcome-menu .logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 50px;
}

#welcome .welcome-menu .logo img {
  max-width: 100px;
}

#welcome .menu {
  margin-bottom: 50px;
}

#welcome .menu .menu-title {
  text-transform: uppercase;
  color: #000000;
  font-weight: 700;
  font-size: 1.2rem;
  border-bottom: solid 2px grey;
  text-align: center;
  padding-bottom: 10px;
  margin-bottom: 20px;
}

#welcome .menu .links li {
  list-style-type: none;
}

#welcome .menu .links li a {
  color: black;
  font-weight: 700;
  text-decoration: none;
  margin-bottom: 1.2rem;
  display: block;
}

#welcome .menu .links li a:hover {
  background: #fecd55;
  -webkit-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
  width: 100px;
}

#welcome .social-icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: auto 40px 0 40px;
}

#welcome .social-icons a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #c2c8cc;
  font-size: 1.4rem;
  text-decoration: none;
  color: white;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  margin-right: 10px;
}

#welcome .social-icons a:hover {
  background: #fecd55;
  -webkit-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
}

#welcome .location {
  -ms-flex-item-align: end;
      align-self: flex-end;
  margin: 0 0 0 30px;
  position: absolute;
  bottom: 100px;
}

#welcome .location .address {
  color: #000000;
  font-weight: 600;
}

#welcome .location .phone-number a {
  color:   #fecd55;
  font-size: 1.6rem;
  text-decoration: none;
  font-weight: 700;
}

#welcome .welcome-jumbo {
  max-width: calc(100vw - 350px);
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #fecd55;
  /* Old browsers */
  /* FF3.6-15 */
  /* Chrome10-25,Safari5.1-6 */
  background: -webkit-gradient(linear, left top, right top, from(#fecd55), color-stop(47%, #fcd780), color-stop(53%, #fcd780), to(#fecd55));
  background: linear-gradient(to right, #fecd55 0%, #fcd780 47%, #fcd780 53%, #fecd55 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  padding: 100px;
  position: relative;
}

#welcome .welcome-jumbo .status {
  display: inline-block;
  padding: 10px;
  font-size: 1.4rem;
  font-weight: 700;
  text-transform: uppercase;
  color: white;
  background: black;
  border-radius: 5px;
  -ms-flex-item-align: start;
      align-self: flex-start;
  position: absolute;
  top: 300px;
  z-index: 100;
}

#welcome .welcome-jumbo h1 {
  text-transform: uppercase;
  font-size: 4rem;
  font-weight: 700;
  -ms-flex-item-align: start;
      align-self: flex-start;
  margin-top: 0px;
  position: absolute;
  top: 350px;
}

#welcome .welcome-jumbo .flying-burger {
  margin-top: 0px;
  max-height: 700px;
  z-index: 1;
  -webkit-animation: moveUpandDown 5s linear infinite;
          animation: moveUpandDown 5s linear infinite;
}

#information {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 50% 50%;
      grid-template-columns: 50% 50%;
  -ms-grid-rows: 100vh;
      grid-template-rows: 100vh;
}

#information .information-image img {
  height: 100%;
  width: 100%;
}

#information .information-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-direction: column;
      flex-direction: column;
  padding: 100px 50px;
}

#information .information-info h2 {
  font-size: 2.5rem;
  font-weight: 700;
  text-transform: uppercase;
  margin: 0 auto;
  text-align: center;
}

#information .information-info .information-paragraphs {
  font-size: 1.4rem;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 50% 50%;
      grid-template-columns: 50% 50%;
  grid-gap: 20px;
  line-height: 1.5;
  margin-bottom: 1.6rem;
}

#information .information-info .information-about-link {
  font-size: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-decoration: none;
  color: black;
}

#information .information-info .information-about-link span {
  margin-right: 5px;
  font-size: 1.6;
  font-weight: 700;
}

#information .information-info .information-about-link span:hover {
  background: #fecd55;
  text-decoration: underline;
}

#information .information-info .information-about-link .circle-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  background: #fecd55;
  /* Old browsers */
  /* FF3.6-15 */
  /* Chrome10-25,Safari5.1-6 */
  background: -webkit-gradient(linear, left top, right top, from(#fecd55), color-stop(47%, #fcd780), color-stop(53%, #fcd780), to(#fecd55));
  background: linear-gradient(to right, #fecd55 0%, #fcd780 47%, #fcd780 53%, #fecd55 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}

#information .information-info .information-about-link .circle-right .fa-chevron-circle-right {
  color: white;
}
/*# sourceMappingURL=style.css.map */