// Styling for the home page

#welcome {
  display: grid;
  grid-template-columns: 350px 1fr ;
  width: 100%;
  height: 100vh;


  .welcome-menu {
    background: white;
    width: 350px;
    padding: 50px 30px;
    position: relative;
 
    .logo {
      display: flex;
      justify-content: center;
      margin-bottom: 50px;
      img{
        max-width: 100px;
      }
    }
  }

  .menu{
    margin-bottom: 50px;
    .menu-title {
      text-transform: uppercase;
      color: #000000;
      font-weight: 700;
      font-size: 1.2rem;
      border-bottom: solid 2px grey;
      text-align: center;
      padding-bottom: 10px;
      margin-bottom: 20px;
    }

    .links {
      li {
        list-style-type: none;
      
        a{
          color: black;
          font-weight: 700;
          text-decoration: none;
          margin-bottom: 1.2rem;
          display: block;

            &:hover{
              background:#fecd55;
              transition: all 0.1s ease-in-out;
              width: 100px;
            }
        }
      }
    }
  }

  .social-icons {
    display: flex;
    margin: auto 40px 0 40px;

    a{
      display: flex;
      justify-content: center;
      align-items: center;
      background:#c2c8cc;
      font-size: 1.4rem;
      text-decoration: none;
      color: white;
      height: 40px;
      width: 40px;
      border-radius: 50%;
      margin-right: 10px;

      &:hover{
        background:#fecd55;
        transition: all 0.1s ease-in-out;
        //width: 100px;
      }
    }
  }

  .location {
    align-self: flex-end;
    margin: 0 0 0 30px;
    position: absolute;
    bottom: 100px;

    .address {
      color: #000000;
      font-weight: 600;
    }
    .phone-number {
      a{
        color: #fecd55;
        font-size: 1.6rem;
        text-decoration: none;
        font-weight: 700;
      }
    }

  }
  .welcome-jumbo {
    max-width: calc(100vw - 350px);
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #fecd55; /* Old browsers */
    background: -moz-linear-gradient(left, #fecd55 0%, #fcd780 47%, #fcd780 53%, #fecd55 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(left, #fecd55 0%,#fcd780 47%,#fcd780 53%,#fecd55 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right, #fecd55 0%,#fcd780 47%,#fcd780 53%,#fecd55 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    padding:100px;
    position: relative;

    .status {
      display: inline-block;
      padding: 10px;
      font-size: 1.4rem;
      font-weight: 700;
      text-transform: uppercase;
      color: white;
      background: black;
      border-radius: 5px;
      align-self: flex-start;
      position: absolute;
      top: 300px;
      z-index: 100;
    }

    h1 {
      text-transform: uppercase;
      font-size: 4rem;
      font-weight: 700;
      align-self: flex-start;
      margin-top: 0px;
      position: absolute;
      top: 350px;
    }

    .flying-burger {
      margin-top: 0px;
      max-height: 700px;
      z-index: 1;
      animation: moveUpandDown 5s linear infinite;
    }
  }
}

#information {
  display: grid;
  grid-template-columns: 50% 50%;
  // padding: 20px;
  grid-template-rows: 100vh;
  

  .information-image{
    img {
      height: 100%;
      width: 100%;
    }
  }

  .information-info {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-direction: column;
    padding: 100px 50px;
  }

  .information-info h2 {
    font-size: 2.5rem;
    font-weight: 700;
    text-transform: uppercase;
    margin: 0 auto;
    text-align: center;
  }

  .information-info .information-paragraphs {
    font-size: 1.4rem;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-gap: 20px;
    line-height: 1.5;
    margin-bottom: 1.6rem;
  }

  .information-info .information-about-link {
    font-size: 2rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: black;

    span{
      margin-right: 5px;
      font-size: 1.6;
      font-weight: 700;;
    }

    span:hover {
      background: #fecd55;
      text-decoration: underline;
    }
  

    .circle-right {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 40px;
      width:40px;
      border-radius: 50%;
      background: #fecd55; /* Old browsers */
      background: -moz-linear-gradient(left, #fecd55 0%, #fcd780 47%, #fcd780 53%, #fecd55 100%); /* FF3.6-15 */
      background: -webkit-linear-gradient(left, #fecd55 0%,#fcd780 47%,#fcd780 53%,#fecd55 100%); /* Chrome10-25,Safari5.1-6 */
      background: linear-gradient(to right, #fecd55 0%,#fcd780 47%,#fcd780 53%,#fecd55 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
      
      .fa-chevron-circle-right {
        color: white;
      }
    }
  }
}

#food-preview {

  background: #f4f8fb;
  padding: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .rounded-button {
    border-radius: 20px;
    background: #fecd55;
    color: #ffffff;
    display: inline-block;
    height: auto;
    width: 100px;
    padding: 10px;
    margin-bottom: 120px;

    &:hover {
      background: white;
      color: #fecd55;
      cursor: pointer;
    }
  }

  h2 {
    font-size: 4rem;
    font-weight: 700;
    color: black;
    margin-bottom: 20px;
    text-align: center;
  }

  .food-slider {
    width: 100%; 
    max-width: 1400px;
    display: flex;

    .slide {
      position: relative;
      height: 500px;
      width: 20%;
      //border: solid 1px red;
      
      &:hover {
        cursor: pointer;
      
        .background{
          background: #fecd55;
          transform: translate3d(0, -100px, 0);
        }

        .content {
          .food-title {
            color: #ffffff;
          }

          .food-description {
             color: #ffffff;
          }
        }
        

      }

      .background{
        background: white;
        height: 100%;
        width: 100%;
        z-index: 1;
        position: absolute;
        top: 0;
        bottom: 0;
        transition: all .3s ease-in-out;
      }

      .content {
        
        padding: 20px;
        z-index: 2;
        position: absolute;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        transition: all .3s ease-in-out;

        .food-title {
          font-size: 2rem;
          font-weight: 900;
          margin-bottom: 2rem;
          //color: #fecd55;
        }

        .food-description {
          font-size: 1rem;
          font-weight: 400;
          line-height: 1.5;
          margin-bottom: 2rem;
        }

        .food-image {

          img {
            width: 95%;
            max-width: 250px;
          }
          
        }
      }

    }
    
  }
}
