// Styling for the home page

#welcome {
  display: grid;
  grid-template-columns: 350px 1fr ;
  width: 100%;
  height: 100vh;


  .welcome-menu {
    background: white;
    width: 350px;
    padding: 50px 30px;
    position: relative;
 

    .logo {
      display: flex;
      justify-content: center;
      margin-bottom: 50px;
      img{
        max-width: 100px;
      }
    }
  }

  .menu{
    margin-bottom: 50px;
    .menu-title {
      text-transform: uppercase;
      color: green;
      font-weight: 700;
      font-size: 1.2rem;
      border-bottom: solid 2px grey;
      text-align: center;
      padding-bottom: 10px;
      margin-bottom: 20px;
    }

    .links {
      li {
        list-style-type: none;
      
        a{
          color: black;
          font-weight: 700;
          text-decoration: none;
          margin-bottom: 1.2rem;
          display: block;

            &:hover{
              background: red;
              transition: all 0.1s ease-in-out;
              width: 100px;
            }
        }
      }
    }
  }

  .social-icons {
    display: flex;
    // justify-content: left;
    // width: 60px;
    margin: auto 40px 0 40px;

    a{
      display: flex;
      justify-content: center;
      align-items: center;
      background:#c2c8cc;
      font-size: 1.4rem;
      text-decoration: none;
      color: white;
      height: 40px;
      width: 40px;
      border-radius: 50%;
      margin-right: 10px;
    }
  }

  .location {
    align-self: flex-end;
    margin: 0 0 0 30px;
    position: absolute;
    bottom: 100px;

    .address {
      color: #c2c8cc;
    }
    .phone-number {
      a{
        color: pink;
        font-size: 1.6rem;
        text-decoration: none;
        font-weight: 700;
      }
    }

  }
  .welcome-jumbo {
    background: red;

  }
}
